/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: #EEE;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 14px 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	text-align: center;
	padding: 0;
}

/****** Header Styling ******/

header p {
	margin: unset;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #FFA000;
}

.menu:active {
	color: #FF630D;
}

header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#display-name {
	font-weight: 400;
}

#navi{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #EEE;
}

#welcome-container{
	padding-left: 14px;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-nav{
	display: flex;
	flex-direction: row;
	margin: 0 auto 0 auto;
}

#login-btn {
	width: 200px;
	padding: 7px 5px;
	background-color: #4363a2;
 	display: flex;
/*	flex-direction: row; */
	margin: 10px auto 0 auto;
}

.btn p {
	margin: auto;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

/****** Logo Div Styling ******/

img {	
	display: unset;
}

.clementine-text { /* Styling for the Clementine.js text */
	padding: 0;
	margin: 0 0 0 0;
	font-weight: 500;
	font-size: 60px;
	color: #FFA000;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 5px 10px;
	color: white;
	background-color: #acacff;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100px;
	font-weight: 500;
	cursor:pointer;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
	/*width: 350px;*/
	width: 100%;
	height: 100%;
	border-radius: 3px;
/*	margin: 86px auto 0 auto;*/
	padding: 10px;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(10) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}

/******* search bar **********/

#zipSearch{
	text-align: center;
	height: 50px;
	margin: 10px;
	font-size: x-large;	
}

.center-bar{
	display: flex;
	flex-direction: column;
}


/******* poll styles **********/
.poll-wrap-sup{
	/* padding:10px 10px 10px 10px; */
	border: grey;
	border-style: outset;
	border-width: thick;	
	border-radius: 10px;
	margin-bottom: 5px;
	position: relative;
	
	/* background-color: #f9f9f9; */	
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
.poll-wrap-sup:hover{
	background-color: white;	
}

.poll-wrap-pic{
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	flex-grow: 1;
	 opacity: .5;
}
.poll-wrap-pic:hover{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	flex: 1.5;
	opacity: unset;
}
.poll-wrap-info{
	/* background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 100%; */
	flex: 2;
	height: 7em;
}


.poll-title{
	padding: 5px 0 10px 5px;
	font-size: x-large;
	font-weight: bold;
	color: #FFA000;
	text-overflow: clip;
}


ul.poll-view-list{
	list-style-type: none;
	padding-right: 5%;
	padding-left: 5%;
}

.poll-view-list-poll{
	/* margin: 0 0 50px 0; */
	/* width: 100%; */
	overflow: hidden;
	/*flex: 0 0 70%;
	padding: 0 10% 0 0;
	*/
}

.poll-wrap{
	display: flex;
	padding: 10px 0 0 0;
}


.choice-btn {
	background-color: lightgrey;
}
.add-poll{
	background-color: #FFA000;
}

#vote-controls{
	display: flex;
	flex-direction: column;		
}

#vote-controls .vote{
	height: 50px;
}

.vote-btn, .add-choice, .choice-btn, .dummy-btn, .delete-btn{	
	white-space: nowrap;	
	width: 120px;
	text-align: center;
}

.delete-btn, .cancel-poll{
	background-color: red;
}

.delete-poll{
	text-align: left;
}

.vote-btn:hover, .choice-btn:hover{
	width: 118px;
	height: auto;
	white-space: normal;
	word-wrap: break-word;
	box-sizing: content-box;
	word-wrap: break-word;
	border: 1px solid red;
	position: relative;		
	
}

#poll-profile-control{
	display: flex;
	flex-direction: row;	
}

#dummy{
	width: 50%;
	flex-direction: column;
	display: none;
}

.dummy-btn{
	flex-grow: 1;
	width: unset;
}

.control-btns{
	display: flex;
	flex-direction: column;
	justify-content: unset;
}

#show-text{
	color: #d8d8d8;
	font-style: italic;
	font-size: xx-large;
	width: 100%;
	text-align: center;
	/* margin-right: 33%; */
}

#social-container{
	position: absolute;
	right: 10px;
	top: 10px;
}
